<h1>Login</h1>
<form action='/login' method='post'>
	<div class='form-group'>
		<label for='email'>Enter your email</label>
		<input id='email' type='email' class='form-control' name='email' required />
		<label for='password'>Enter your password</label>
		<input id='password' type='password' class='form-control' name='password' required />
	</div>
	<button class='btn btn-success mt-3'>Loggin!</button>
</form>